<div style="margin-top: 8rem; margin-bottom: 6rem;">

<h1 style="text-align: center; margin-bottom: 0;">About me</h1>
<div class=" container">
  <div class="bg2">
    <!-- <h2><i class="fa fa-battery-three-quarters"></i></h2> -->
    <div class="wrapper">
      <img src="../../../assets/images/profile.jpg">
    </div>
  </div>
  <div class="bg1">
    <div style=" font-weight: 600; ">
      
      <div>
        <ul>
          <li>2+ years experience as Frontend Developer</li>
          <li>3+ years experience as Mechanical Engineer</li>
          <li>one year experience as CNC Operator</li>
        </ul>
        <ul>
          <li>graduated Mechanical Design Engineer <span style="font-weight: 400;color:red; padding-left: 0.25rem;">(University of Sarajevo)</span> </li>
          <li>self-taught Web Developer</li>
        </ul>
      </div>
      
    </div>
  </div>
  <div class="bg2 no-change">
  <img style="width: 2rem; height: 2rem; margin-bottom: .75rem; margin-top: 0.15rem;" src="../../../assets/images/language.png">
    <p style="margin-bottom: 1rem; padding: 0.25em; text-align: center;">
      <span style="font-weight: 600;">Bosnian</span> - <span class="mainColor">native</span>, <br>
      <span style="font-weight: 600;">English</span> - <span class="mainColor">fluent</span>,
      <span style="font-weight: 600;">German</span> - <span class="mainColor">basic</span> 
  </div>
  <div class="bg1">
    <h4>Web technologies I know</h4>
    <div class="frontend" >
      <div class="detail">
        <img src="../../../assets/images/html-5.png">
        <p>HTML</p>
      </div>
      <div class="detail">
        <img src="../../../assets/images/css-3.png">
        <p>CSS</p>
      </div>
      <div class="detail">
        <img src="../../../assets/images/javascript.png">
        <p>JS</p>
      </div>
      <div class="detail">
        <img src="../../../assets/images/sass.png">
        <p>SASS</p>
      </div>
      <div class="detail">
        <img src="../../../assets/images/angular.png">
        <p>ANGULAR</p>
      </div>
      <div class="detail">
        <img src="../../../assets/images/node.svg">
        <p>NODE.JS</p>
      </div>
      <div class="detail">
        <img src="../../../assets/images/mongo.png">
        <p>MONGO DB</p>
      </div>
      <div class="detail">
        <img src="../../../assets/images/affinity.png">
        <p>AFFINITY</p>
      </div>
    </div>
  </div>
  <div class="bg2">
    <h4>Engineering technologies I know</h4>
    <div class="mechanical" >
      <div class="detail">
        <img src="../../../assets/images/solidworks.svg">
        <p>SOLIDWORKS</p>
      </div>
      <div class="detail">
        <img src="../../../assets/images/autocad.svg">
        <p>AUTOCAD</p>
      </div>
      <div class="detail">
        <img src="../../../assets/images/catia.png">
        <p>CATIA</p>
      </div>
      <div class="detail">
        <img src="../../../assets/images/alphacam.png">
        <p>ALPHACAM</p>
      </div>
      <div class="detail">
        <img src="../../../assets/images/technical-drawing.png">
        <p>DRAWINGS</p>
      </div>
      <div class="detail">
        <img src="../../../assets/images/cnc.svg">
        <p>CNC</p>
      </div>
    </div>
  </div>
  
  <div class="bg1 no-change">
    <h2><i class="fa fa-heartbeat"></i></h2>
    <p> <span style="font-weight: 600; font-size: 2em; color: red;">{{myYears}} </span> years</p>
  </div>
  <div class="bg2 no-change">
    <h2><i class="fa fa-car"></i></h2>
    <p> <span style="font-weight: 600; font-size: 2em; color: red; margin-bottom: 2rem !important;">B </span> category</p>
  </div>
  
  <div class="bg2 no-change">
    <h2><i class="fa fa-address-card"></i></h2>
    <div style="font-weight: 600;">
      <p style="padding: .1rem 1rem; margin: 0;">
        <span style="padding-right: 0.75rem; color: red;">
          <i class="fa fa-map-marker"></i>
        </span>Sarajevo/Ključ, Bosnia
      </p>
      <p style="padding: .1rem 1rem; margin: 0;">
        <span style="padding-right: 0.75rem; color: red;">
          <i class="fa fa-phone"></i>
        </span> <a href="tel:+38762747630" style="color: #ccc; text-decoration: none;">+387 62 747 630</a>
      </p>
      <p style="padding: 0 1rem; margin: 0;">
        <span style="padding-right: 0.75rem; color: red;">
          <i class="fa fa-envelope"></i>
        </span> <a href="mailto:edin.bulut@hotmail.com" style="color: #ccc; text-decoration: none;">edin.bulut@hotmail.com</a>
      </p>
    </div>
  </div>
</div>
</div>


<!-- <h2><i class="fa fa-graduation-cap"></i></h2>
<p style="padding: 0.25em; margin: 0; text-align: center; margin-bottom: 1rem;"> <span style="font-weight: 600;">Mechanical Design Engineer</span>  <br> 
  <span style="color: red;">University of Sarajevo</span>  
</p> -->