/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Raleway:100,200,400&display=swap');
@import "~swiper/swiper-bundle.css";
@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~font-awesome/css/font-awesome.css";
html {
  scroll-behavior: smooth;
  // transition: all 1s;
}
body {
  font-family: 'Raleway', sans-serif;
  // height: 100vh;
  color: #ccc;
  
  // margin: 0;
  // overflow-x: hidden;
  background: #57606f url('./assets/images/bckg-image.jpg') no-repeat center center / cover;
  background-attachment: fixed;
  h1 {
    font-size: 3rem;
  }
}
::-webkit-scrollbar {
  width: 5px;
  // height: 20px;
}
::-webkit-scrollbar-track {
  background: gray;
}

::-webkit-scrollbar-thumb {
  background: red;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  box-shadow:  0 0 30px 3px hsl(0, 0%, 80%),
  0 0 30px 5px hsl(0, 0%, 90%);
}

// .container {
//   max-width: 1400px;
//   margin: 0 auto;
// }

@media (max-width:992px){
  html {
    font-size: 16px;
  }
}
@media (max-width:768px){
  html {
    font-size: 14.5px;
  }
}
// @media (max-width:600px){
//   html {
//     font-size: 13px;
//   }
// }
@media (max-width:500px){
  html {
    font-size: 14px;
  }
  h1 {
    font-size: 2.5rem !important;
  }
}
@media (max-width:400px){
  html {
    font-size: 13px;
  }
}

.swiper-pagination-bullets {
  .swiper-pagination-bullet {
  background: red !important;
  margin: 0 1em !important;
  height: 0.75em;
  width: 0.75em;
  }
}